{% load static %}

<head>
  <title>fvckya</title>
  <meta name="uploader" charset="utf-8">
  <link rel="stylesheet" href={% static "/css/bootstrap.min.css"%}>
  <link rel="stylesheet" href={% static "/css/jquery-ui.css"%}>
  <link rel="stylesheet" href={% static "/css/jquery-ui.theme.css"%}>
  <link rel="stylesheet" href={% static "/css/jquery-ui.structure.css"%}>
  <link rel="stylesheet" href={% static "/skin-lion/ui.fancytree.css"%}>
  <link rel="stylesheet" href={% static "/css/custom.css"%}>

  <script type="text/javascript" src={% static "/js/jquery-3.3.1.min.js"%}></script>
  <script type="text/javascript" src={% static "/js/bootstrap.min.js"%}></script>
  <script type="text/javascript" src={% static "/js/jquery-ui.js"%}></script>
  <script type="text/javascript" src={% static "/js/jquery.fancytree-all.js"%}></script>
  <script type="text/javascript" src={% static "/modules/jquery.fancytree.childcounter.js"%}></script>


  <script type="text/javascript">
    $(function () {
      function logEvent(event, data, msg) {
        msg = msg ? ": " + msg : " ";
        $.ui.fancytree.info("Event ('" + event.type + "', node = " + data.node + ") " + msg);
      }

      $("#directoryList").fancytree({
        checkbox: true,
        extensions: ["childcounter"],

        childcounter: {
          deep: true,
          hideZeros: true,
          hideExpand: false,
        },

        //handle clicking event on node
        activate: function (event, data) {
          var node = data.node;
          if (node.parent.title != "root") {
            $.ajax({
              type: "GET",
              url: "show_email_payload",
              data: {
                file_name: node.title,
                parent: node.parent.title
              },
              success: function (data) {
                alert("Email payload:\n" + data + "\n----END----");
              }
            });

          } else {
            $.ajax({ //do the attachment job
              type: "GET",
              url: "do_the_attachment_job",
              data: {
                folder_name: node.title,
              },
            })
           
          }
        },
      });


    })

  </script>

</head>

<body>
  <div class="container-fluid">
    <!--NAV BAR>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" style="align:center">Lọc dữ liệu thư điện tử</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <! NAV BAR END-->

    {% block content %}


    <!-- DIR LIST -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3">
        <div id="directoryList">
          <ul id="treeData" style="display: none;">
              {% for 1st_child, 2nd_child_dict in dict_of_emails.items %}
              <li class="folder">
                {{1st_child}}
                <ul>

                </ul>
              </li>
              {% endfor %}            
          </ul>
        </div>
      </div>
      <!--DIR LIST END-->
      <div class="col-12 col-sm-12 col-md-8 col-lg-9">
        <p id="emailPayload"></p>
      </div>
    </div>


  </div>
</body>

{% endblock %}
