{% load static %}

<head>
  <title>fvckya</title>
  <meta name="uploader" charset="utf-8">
  <link rel="stylesheet" href={% static "/css/bootstrap.min.css"%}>
  <link rel="stylesheet" href={% static "/css/jquery-ui.css"%}>
  <link rel="stylesheet" href={% static "/css/jquery-ui.theme.css"%}>
  <link rel="stylesheet" href={% static "/css/jquery-ui.structure.css"%}>
  <link rel="stylesheet" href={% static "/skin-lion/ui.fancytree.css"%}>
  <link rel="stylesheet" href={% static "/css/custom.css"%}>

  <script type="text/javascript" src={% static "/js/jquery-3.3.1.min.js"%}></script>
  <script type="text/javascript" src={% static "/js/bootstrap.min.js"%}></script>
  <script type="text/javascript" src={% static "/js/jquery-ui.js"%}></script>
  <script type="text/javascript" src={% static "/js/jquery.fancytree-all.js"%}></script>
  <script type="text/javascript" src={% static "/modules/jquery.fancytree.childcounter.js"%}></script>


  <script type="text/javascript">
    $(function () {
      function logEvent(event, data, msg) {
        msg = msg ? ": " + msg : " ";
        $.ui.fancytree.info("Event ('" + event.type + "', node = " + data.node + ") " + msg);
      }

      $("#directoryList").fancytree({
        checkbox: true,
        extensions: ["childcounter"],

        childcounter: {
          deep: true,
          hideZeros: true,
          hideExpand: false,
        },

        lazyLoad: function(event, data) {
          data.result = {url : "ajax-sub2.json"};
        },

        loadChildren: function(event, data) {
          // update node and parent counters after lazy loading
          data.node.updateCounters();
        },  
        renderNode: function(event, data){

        },
        //handle clicking event on node
        activate: function (event, data) {
          var node = data.node;                   
          if (node.parent.title != "root") {  
            //o_parent = node.parent;
            $.ajax({
              type: "GET",
              url: "show_email_payload",
              data: {
                file_name: node.title,
                parent: node.parent.title,
                older_parent: node.parent.parent.title,                                
              },
              success: function(data){
                alert(data);
              }
            });
          } else {
            $.ajax({ //do the attachment job
              type: "GET",
              url: "do_the_attachment_job",
              data: {
                folder_name: node.title,
              },
              success: function(data){
                //alert("number of attachment in current folder: ",data);
              }
            })            
          }
        },
      });
    })

  </script>

</head>

<body>
  <div class="container-fluid">
    <!--NAV BAR>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" style="align:center">Lọc dữ liệu thư điện tử</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <! NAV BAR END-->

    {% block content %}
    <!-- DIR LIST -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3">
        <div id="directoryList">
          <ul id="treeData" style="display: none;">
              {% for 1st_child, 2nd_child_list in dict_of_emails.items %}
              <li class="folder">
                {{1st_child}}
                {% if '.' in 2nd_child_list %}
                  <ul><li class="file">{{2nd_child_list}}</li></ul>
                {% else %}
                  <ul>                   
                      {% for each_dict in 2nd_child_list %}
                        {% if '.' in each_dict %}
                          <li class="file">{{each_dict}}</li>
                        {% else %}
                          {% for 2nd_child,3rd_child_list in each_dict.items  %}                        
                                <li class="lazy folder">{{2nd_child}}                        
                                  <ul>
                                    {% for each_virtual_child in 3rd_child_list  %}                                               
                                      {% for each_3rd_child in each_virtual_child %}
                                        {% if '.' not in each_3rd_child %}
                                          <li class="lazy folder">{{each_3rd_child}}</li>
                                        {% else %}
                                          <li class="file">{{each_3rd_child}}</li>
                                        {% endif %}                                
                                      {% endfor %}
                                    {% endfor %}
                                  </ul>                        
                                </li>                                           
                          {% endfor %}                         
                        {% endif %}  
                      {% endfor %}                                                         
                  </ul>
                {% endif %}
                
              </li>
              {% endfor %}            
          </ul>
        </div>
      </div>
      <!--DIR LIST END-->
      <div class="col-12 col-sm-12 col-md-8 col-lg-9">
        <p id="emailPayload"></p>
      </div>
    </div>


  </div>
</body>

{% endblock %}
